<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Travel Web</title>
</head>
<body> 
    <div class="header">
            <h1>tours & travel</h1>
            <p>A Journey Begins Here</p>
    </div>
     <nav>
        <ul>
            <li class="navbar-component">
                <a href="/admin">Home</a>
            </li>
            <li class="navbar-component">
                <a href="/hotels">Hotels</a>
            </li>
            <li class="navbar-component">
                <a href="/holidays">Holidays</a>
            </li>
        </ul>
    </nav>
     
     {{{body}}}
     <div class="footer">
            <h2> Copyright &copy;Travel.com Ltd. All rights reserved</h2>
                <h3>Site Operator: Travel.com Travel world Pte. Ltd.</h3>
          </div>
        
</body>
</html>